<h1><%= post.title %></h1>

<p>
  <strong><%= moment(post.createdAt).calendar() %></strong>
</p>

<p><%- post.content %></p>
<a style="padding:0 20px" href="/posts/edit/<%= post.id %>">EDIT</a>
<a class='<%= post.isPublic?"delete-ispublic-link":"delete-draft-link" %>'
  href="/posts/delete/<%= post.id %>">DELETE</a>
