<h1><%= post.title %></h1>

<p>
  <strong><%= moment(post.createdAt).calendar() %></strong>
</p>

<p>
  <% if(post.url) { %>
    <a href="<%= post.url %>" target="_blank"><%= post.content %></a>
  <% } else { %>
    <%- marked(post.content) %>
  <% } %>

</p>
<a class="btn btn-info glyphicon glyphicon-edit" href="/posts/edit/<%= post.id %>"></a>
<a class='btn btn-info glyphicon glyphicon-trash <%= post.isPublic?"delete-ispublic-link":"delete-draft-link" %>'
  href="/posts/delete/<%= post.id %>"></a>
